PORT=5000
MONGODB_URI="mongodb+srv://dattadhongade12_db_user:zT9iv727xdDaHtrG@cluster0.endowr1.mongodb.net/portfolio_db?appName=Cluster0"
JWT_SECRET=super_secret_high_entropy_jwt_key_datta_2026
ADMIN_USERNAME="dattadhongade12@gmail.com"
ADMIN_PASSWORD="Datta@$#2003!"
